@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w Simple Store</h1>
    <p><a href="/Products">Zobacz wszystkie produkty wystawione przez użytkowników</a></p>
    <p>Strona została stworzona na potrzeby wykonania projektu na studia.</p>
</div>
