@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Strona stworzona wyłącznie na potrzeby edukacyjne. Wszelkie zdjęcia należą do ich prawnych właścicieli. Twoje dane jak i hasła są bezpiecznie przechodywane.</p>
